| $("#debug-alert").removeClass('alert-info').removeClass('alert-warning').text('');
| $("#debug-event-placeholder").html("
= j render 'placeholder', job: @job
| ");
| $("[id^=debug-event-result]").html("");