default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: 42A4F9730140BCF7A22AEECD7EE1447A
  password: 8BC9D2AF512930A0C44DB8F4177A0BEF
  host: localhost

development:
  <<: *default
  database: emu_development

test:
  <<: *default
  database: emu_test
  username: emu_test
  password: emu_test

production:
  <<: *default
  database: <%= ENV['DATABASE_NAME'] %>
  username: <%= ENV['DATABASE_USERNAME'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
  host: <%= ENV['DATABASE_HOST'] %>
  port: <%= ENV['DATABASE_PORT'] %>
